td {
  background-color: aliceblue;
}

td.title1 {
  background-color: red;
}

td.title2 {
  background-color: rgb(236, 169, 169);
}

td.content1 {
  /* background-color: rgb(182, 192, 201); */
  background-color: grey;
}

table thead {
  border: 1px solid black;
  width: 80%;
  margin: 20px;
}

textarea.tareastyle {
  margin: 0px;
  width: 160px;
  height: 19px;
  box-shadow: none;
  outline: none;
}

.contentcol1{
  width: 25%;
}

.hideit{
  display: none;
}

.showit{
  position:absolute;
  display: block;
  left:600px;
  top:100px;
  color:red;
  font-size:24px;
}